<div class="backdrop" #backdrop (click)="onclickBackdrop($event)">
  <div class="pop-up__cover" #modal>
    <div class="content">
      <h2 class="title">{{ isApproved ? "Approved :)" : "Not Approved!" }}</h2>
      <p class="sub-title">
        {{
          isApproved
            ? "Site has been approved to transfer tokens on your behalf"
            : "Approve this site to transfer tokens on your behalf"
        }}
      </p>
    </div>

    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <button
      *ngIf="!isLoading"
      class="cta"
      title="Connect"
      aria-label="Connect Wallet Button"
      (click)="isApproved ? close() : onclick()"
    >
      {{ isApproved ? "Close" : "Approve" }}
    </button>
  </div>
</div>
