<main id="marketplace" [attr.style]="isLoading ? 'overflow: hidden' : ''">
  <section class="main-content">
    <section class="products-container">
      <h2 class="title">Your Profile</h2>

      <div
        *ngIf="nfts && !nfts?.length && !isLoading && !error"
        class="warning"
      >
        No product has been minted!
      </div>

      <div *ngIf="!isLoading && !account && !error" class="warning">
        <span>Connect to view your tokens!</span>
        <button
          class="cta"
          title="Connect"
          aria-label="Connect Wallet Button"
          (click)="onclick()"
        >
          Connect Wallet
        </button>
      </div>

      <ul class="products-list" *ngIf="!isLoading && !error">
        <li class="products" *ngFor="let nft of nfts">
          <div class="img-cover">
            <img
              loading="lazy"
              [src]="nft.image"
              width="444"
              height="444"
              alt
            />
          </div>

          <div class="btn-row">
            <h2 class="god-name">{{ nft.name }}</h2>
            <button
              *ngIf="!nft.price"
              (click)="onList(nft.name)"
              class="mint-btn"
              type="button"
              aria-label="List button"
              title="List now"
            >
              List
            </button>

            <button
              *ngIf="nft.price"
              class="mint-btn"
              type="button"
              aria-label="Unlist button"
              title="Unlist now"
            >
              Unlist
            </button>
          </div>
        </li>
      </ul>

      <ul class="products-list" *ngIf="isLoading && !error">
        <li class="products" *ngFor="let nft of genNumArr(20)">
          <div class="img-cover skeleton"></div>

          <div class="btn-row">
            <h2 class="god-name skeleton">Azuki #00</h2>
            <button
              class="mint-btn skeleton"
              type="button"
              aria-label="List button"
              title="List now"
            >
              List
            </button>
          </div>
        </li>
      </ul>

      <div class="error-container" *ngIf="error">
        <app-error-svg></app-error-svg>

        <div class="error-msg">
          <h2>Request Failed</h2>

          <p>Please check your network and try again</p>
        </div>
      </div>
    </section>
  </section>
</main>

<app-approval-modal
  *ngIf="modalOpened"
  (onapproved)="closeModal()"
></app-approval-modal>

<app-list-form
  [tokenId]="tokenId"
  *ngIf="formOpened"
  (onclose)="closeForm()"
></app-list-form>

<app-error-msg *ngIf="openErrorMsg" (onclose)="onErrorClose()">{{
  errorMsg
}}</app-error-msg>
