<main id="marketplace" [attr.style]="isLoading ? 'overflow: hidden' : ''">
  <section class="main-content">
    <section class="products-container">
      <div *ngIf="!nfts?.length && !isLoading && !error" class="no-product">
        No product has been minted!
      </div>

      <ul class="products-list" *ngIf="!isLoading && !error">
        <li class="products" *ngFor="let nft of nfts">
          <div class="img-cover">
            <img
              loading="lazy"
              [src]="nft.image"
              width="444"
              height="444"
              alt
            />
          </div>

          <div class="product-content">
            <h2 class="god-name" *ngIf="nft.price">
              ETH {{ toEther(nft.price) }}
            </h2>

            <div class="btn-row">
              <h2 class="god-name">{{ nft.name }}</h2>

              <button
                *ngIf="nft.price"
                class="mint-btn"
                type="button"
                aria-label="Buy button"
                title="Buy now"
                (click)="onbuy(nft)"
              >
                Buy
              </button>
            </div>
          </div>
        </li>
      </ul>

      <ul
        *ngIf="isLoading && !error"
        class="products-list"
        [attr.style]="isLoading ? 'overflow: hidden' : ''"
      >
        <li class="products" *ngFor="let nft of genNumArr(20)">
          <div class="img-cover skeleton"></div>

          <div class="product-content">
            <h2 class="god-name skeleton">ETH 0.001</h2>

            <div class="btn-row">
              <h2 class="god-name skeleton">Azuki #45</h2>

              <button
                class="mint-btn skeleton"
                type="button"
                aria-label="Buy button"
                title="Buy now"
              >
                Buy
              </button>
            </div>
          </div>
        </li>
      </ul>

      <div class="error-container" *ngIf="error">
        <app-error-svg></app-error-svg>

        <div class="error-msg">
          <h2>Request Failed</h2>

          <p>Please check your network and try again</p>
        </div>
      </div>
    </section>
  </section>

  <!-- <div class="error-container outer" *ngIf="error && !nfts.length">
    <app-error-svg></app-error-svg>

    <div class="error-msg">
      <h2>Request Failed</h2>

      <p>Please check your network and try again</p>
    </div>
  </div> -->

  <router-outlet></router-outlet>
</main>

<!-- <app-modal *ngIf="openModal" (onclose)="onModalClose()"> </app-modal>
<app-error-msg *ngIf="openErrorMsg" (onclose)="onErrorClose()">{{
  errorMsg
}}</app-error-msg> -->
