<div class="backdrop" #backdrop (click)="onclickBackdrop($event)">
  <form
    autocomplete="off"
    class="pop-up__cover"
    #modal
    #form="ngForm"
    (ngSubmit)="onsubmit(form)"
  >
    <div class="content">
      <div
        [ngClass]="{
          'list_price-input_control': true,
          error: error || (input.touched && input.invalid)
        }"
      >
        <span>ETH</span>
        <input
          #input="ngModel"
          placeholder="Enter List Price"
          ngModel
          name="price"
          type="number"
          class="list__price-input"
          min="1e-18"
          required
        />
      </div>

      <p *ngIf="input.touched && input.invalid" class="sub-title">
        Number must not be > 1e-18
      </p>
    </div>

    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <button
      *ngIf="!isLoading"
      [disabled]="!form.valid"
      class="cta"
      title="Connect"
      aria-label="Connect Wallet Button"
      type="submit"
    >
      List
    </button>
  </form>
</div>
