<main id="gallery">
  <section class="bg-img">
    <div class="content">
      <div class="mint-time">
        <dl>
          <div class="time-item">
            <dt>Mint time</dt>

            <!-- main element -->
            <dd *ngIf="!isLoading && !error">
              <span class="thick">
                {{ getDate(mint.time.start) }}
                <span class="bold">{{ getLocaleTime(mint.time.start) }}</span>
              </span>
              <span>[ {{ startTime }} ]</span>
            </dd>

            <!-- skeleton -->
            <dd *ngIf="isLoading">
              <span class="thick skeleton">
                Thu Jul 24 3000
                <span class="bold">12:35</span>
              </span>
              <span class="skeleton">[ In 356854 days 1 hour 22 mins ]</span>
            </dd>
          </div>

          <div class="time-item">
            <dt>Public sale</dt>

            <!-- main element -->
            <dd *ngIf="!isLoading && !error">
              <span class="thick">
                {{ getDate(mint.time.publicSale) }}
                <span class="bold">{{
                  getLocaleTime(mint.time.publicSale)
                }}</span>
              </span>
              <span>[ {{ publicsaleTime }} ]</span>
            </dd>

            <!-- skeleton -->
            <dd *ngIf="isLoading && !error">
              <span class="thick skeleton">
                Thu Jul 24 3000
                <span class="bold">12:35</span>
              </span>
              <span class="skeleton">[ In 356854 days 1 hour 22 mins ]</span>
            </dd>
          </div>

          <div class="time-item">
            <dt>Mint Ends</dt>

            <!-- main element -->
            <dd *ngIf="!isLoading && !error">
              <span class="thick">
                {{ getDate(mint.time.end) }}
                <span class="bold">{{ getLocaleTime(mint.time.end) }}</span>
              </span>
              <span>[ {{ endTime }} ]</span>
            </dd>

            <!-- skeleton -->
            <dd *ngIf="isLoading && !error">
              <span class="thick skeleton">
                Thu Jul 24 3000
                <span class="bold">12:35</span>
              </span>
              <span class="skeleton">[ In 356854 days 1 hour 22 mins ]</span>
            </dd>
          </div>
        </dl>
      </div>

      <div class="mint__status-container">
        <div class="mint__status-circle">
          <svg
            class="progress"
            data-progress="10"
            x="0px"
            y="0px"
            viewBox="0 0 80 80"
          >
            <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
            <path
              [ngStyle]="{
                'stroke-dashoffset':
                  ((totalSupply - mintedSupply) / totalSupply) *
                  -219.99078369140625
              }"
              class="fill"
              d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
            />
          </svg>
          <div class="mint-status">{{ mintedSupply }} / {{ totalSupply }}</div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content">
    <section class="products-container" #ul>
      <ul
        class="products-list"
        [attr.style]="isLoading ? 'overflow: hidden' : ''"
      >
        <li class="products normal-cursor" *ngIf="!error">
          <div class="img-cover null">
            <div class="line-left"></div>
            <div class="line-right"></div>
            <div class="question_mark">?</div>
          </div>

          <button
            [ngClass]="{ 'mint-btn': true }"
            title="Mint now"
            (click)="safeMint()"
          >
            Mint
          </button>
        </li>

        <ng-container>
          <li
            class="products"
            *ngFor="let nft of nfts"
            (click)="navigate(nft.name)"
            [title]="nft.name"
          >
            <div class="img-cover">
              <img
                loading="lazy"
                width="444"
                height="444"
                [src]="nft.image"
                alt
              />
            </div>
            <h2 class="god-name">{{ nft.name }}</h2>
          </li>
        </ng-container>
      </ul>

      <div class="error-container" *ngIf="error && nfts.length">
        <app-error-svg></app-error-svg>

        <div class="error-msg">
          <h2>Request Failed</h2>

          <p>Please check your network and try again</p>
        </div>
      </div>
    </section>
  </section>

  <div class="error-container outer" *ngIf="error && !nfts.length">
    <app-error-svg></app-error-svg>

    <div class="error-msg">
      <h2>Request Failed</h2>

      <p>Please check your network and try again</p>
    </div>
  </div>

  <router-outlet></router-outlet>
</main>

<app-modal *ngIf="openModal" (onclose)="onModalClose()"></app-modal>
