<main id="gallery">
  <section class="bg-img">
    <div class="content">
      <div class="mint-time" *ngIf="mint">
        <dl>
          <div class="time-item">
            <dt>Mint time</dt>
            <dd>
              <span class="thick">
                {{ getDate(mint.time.start) }}
                <span class="bold">{{ getLocaleTime(mint.time.start) }}</span>
              </span>
              <span>[ {{ startTime }} ]</span>
            </dd>
          </div>

          <div class="time-item">
            <dt>Public sale</dt>
            <dd>
              <span class="thick">
                {{ getDate(mint.time.publicSale) }}
                <span class="bold">{{
                  getLocaleTime(mint.time.publicSale)
                }}</span>
              </span>
              <span>[ {{ publicsaleTime }} ]</span>
            </dd>
          </div>

          <div class="time-item">
            <dt>Mint Ends</dt>
            <dd>
              <span class="thick">
                {{ getDate(mint.time.end) }}
                <span class="bold">{{ getLocaleTime(mint.time.end) }}</span>
              </span>
              <span>[ {{ endTime }} ]</span>
            </dd>
          </div>
        </dl>
      </div>

      <div class="mint__status-container">
        <div class="mint__status-circle">
          <svg
            class="progress"
            data-progress="10"
            x="0px"
            y="0px"
            viewBox="0 0 80 80"
          >
            <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
            <path
              [ngStyle]="{
                'stroke-dashoffset':
                  ((100 - mintedSupply) / 100) * -219.99078369140625
              }"
              class="fill"
              d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0"
            />
          </svg>
          <div class="mint-status">
            {{ mintedSupply || 0 }} / {{ totalSupply || 0 }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content">
    <section class="products-container" #ul>
      <ul
        class="products-list"
        [attr.style]="isLoading ? 'overflow: hidden' : ''"
      >
        <li class="products normal-cursor">
          <div class="img-cover null">
            <div class="line-left"></div>
            <div class="line-right"></div>
            <div class="question_mark">?</div>
          </div>

          <button class="mint-btn" title="Mint now">Mint</button>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <li class="products">
          <div class="img-cover">
            <img
              loading="lazy"
              width="444"
              height="444"
              src="../../assets/team/Anansi.jpg"
              [style.backgroundColor]=""
              alt
            />
          </div>
          <h2 class="god-name">azuki</h2>
        </li>
        <!-- <ng-container *ngIf="isLoading">
          <li class="products" *ngFor="let demo of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
            <div class="img-cover skeleton"></div>
            <h2 class="god-name skeleton">Demo</h2>
          </li>
        </ng-container> -->

        <!-- <ng-container
          *ngIf="
            !isLoading  && gods && gods.length > 0 && !error
          "
        > -->
        <!-- <li
            class="products"
            *ngFor="let god of gods; trackBy: trackBy"
            (window:keydown.Control)="ctrlDown = true"
            (window:keyup.Control)="ctrlDown = false"
            (click)="navigate(god.name)"
            [title]="god.description.role"
          >
            <div class="img-cover" >
              <img
                loading="lazy"
                width="444"
                height="444"
                src="https://www.topaz.so/cdn-cgi/image/width=512,quality=90,fit=scale-down,anim=false,onerror=redirect/{{
                  god.media.uri
                }}"
                [style.backgroundColor]=""
                alt
              />
            </div>
            <h2 class="god-name">{{ god.name }}</h2>
          </li> -->
        <!-- </ng-container> -->
      </ul>

      <div #div></div>

      <!-- <div class="error-container" *ngIf="error && gods">
        <app-error-svg></app-error-svg>

        <div class="error-msg">
          <h2>Request Failed</h2>

          <p>Please check your network and try again</p>
        </div>
      </div> -->
    </section>
  </section>

  <!-- <div class="error-container outer" *ngIf="error && !gods">
    <app-error-svg></app-error-svg>

    <div class="error-msg">
      <h2>Request Failed</h2>

      <p>Please check your network and try again</p>
    </div>
  </div> -->

  <router-outlet></router-outlet>
</main>
